.tarolo{
    width: 90%;
    height: 800px;
    background-color: yellow;
    margin: auto;

    
}
.lista1{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: purple;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    
}
.lista1 :nth-child(1){
    height: 30px;
    width: 90px ;
    background-color: aqua;
    margin-left: 25px;
}
.lista1 :nth-child(2){
    height: 30px;
    width: 90px ;
    background-color: aqua;
}
.lista1 :nth-child(3){
    height: 30px;
    width: 90px ;
    background-color: aqua;
}
.lista2{
    display: flex;
    list-style-type: none;
    
}
.lista2 :nth-child(1){
    height: 30px;
    width: 100% ;
    flex: 2;
}
.lista2 :nth-child(2){
    height: 750px;
    width: 100% ;
    background-color: darkgreen;
    flex: 1;
}
